body {
 
 background-color: whitesmoke;
  margin: 0;
  font-family: "Poppins";
}
a {
  color: #53015e;
  text-decoration: none;
}
.budgetDetails{
    background: white;
    border-radius: 4px;
    margin: 20px auto;
    border: none;
    padding: 20px;
    position: relative;
    color: #019501;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  }
span{
    color: black;
  } 
  .container {
    background: #fff;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form{
    display: block;
  }
 
  .label-input{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
  }
  label {
    font-weight: 600;
    color: #026e02;
    font-size: 1.125rem;
    font-family: 'Times New Roman', Times, serif;
  }
  input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;   
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .logout{
    background:rgb(9, 93, 9) ;
    border: 0;
    color: #fff;
    padding: 10px;
    margin-left: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
  }
  form button {
    background:rgb(0, 112, 0) ;
    border: 0;
    color: #fff;
    padding: 10px;
    margin-left: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
  }
  .welcome-page{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPzj78YWwQRtenlQUpmPDqWnYhU2Ky4tjlhw&usqp=CAU);
    height: 100vh;
    background-repeat: repeat;
   /*  background-size: contain; */
  }
  